@font-face {
    font-family: "icons";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"),
        url("fonts/websymbols-regular-webfont.eot"),
        url("fonts/websymbols-regular-webfont.eot?iefix") format("embedded-opentype"),
        url("fonts/websymbols-regular-webfont.woff") format("woff"),
        url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; 
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: url(../img/paven.png);
}

a{
    text-decoration: none;
    color: #70b231;
}

.red{
    color: #9b2422 !important;
}

.blue{
    color: #0c73f2 !important;
}

.yellow{
    color: #d69d2a !important;
}

.icon {
    font-family: "icons";
    float: left;
    margin-right: 5px;
    margin-top: 0px;
} 

#nav ul li a{
    display: block;
    color: white;
    padding: 10px 20px;
    border-left: 1px solid gray ;
    border-right: 1px solid gray;
    transition: all 300ms;
}

#nav ul li a:hover{
    background-color: #70b231;
}

/* BARRA LATERAL */

.widget{
    background-color: white;
    border:1px solid #ccc;
    border-bottom: 1px dashed gray;
    padding: 10px;
}

.widget:nth-child(4){
    border-bottom: 1px solid #ccc;
}

#aside form, h3{
    text-align: center;
}
#aside a{
    transition: all 300ms;
}

#aside a:hover{
    color: green;
}

#aside ul{
    list-style: square;
    margin-left: 18px;
    line-height: 25px;
}

#aside h3{
    padding: 7px;
    background-color: #f2f3f2;

    border: 1px solid #cccccc;
    border-left: none;
    border-right: none;
    margin-bottom: 13px;
}

#aside input[type=text], input[type=password]{
    width: 100%;
    height: 22px;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 0px 0px 2px #cccccc inset;
    color: gray;
    border: 1px solid #ccc;
    transition: all 300ms;
}

#aside input[type=text]:focus, input[type=password]:focus{
    color: black;
    border: 1px solid #70b231;
}

#aside input[type=submit]{
    background-color: #70b231;
    color: white;
    padding: 5px 15px;
    border: 1px solid green;
    cursor: pointer;
    margin-bottom: 5px;
}

#aside input[type=submit]:hover{
    box-shadow: 0px 0px 2px gray;
}

#aside input[type=submit]:active{
    box-shadow: 0px 0px 5px gray inset;
}

.widget:nth-child(4){
    padding-bottom: 20px;
}

.widget:last-child{
    margin-top: 50px;
}

/* MAIN */
#main article{
    background-color: white;
    margin-bottom: 38px;
    padding: 20px 25px;
    border:1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc;
}

#main .titulo{
    text-align: center;
    font-size: 27px;
    color: #333;
    padding-bottom: 10px;
    font-weight: lighter;
    border-bottom: 1px solid #ccc;
}

#main p{
    padding-top: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

#main .date{
    color: gray;
}

#main a{
    transition: all 300ms;
}

#main a:hover{
    color: green;
}

.stickerOne, .stickerTwo{
    position: absolute;
    margin-top: -35px;
}

.stickerTwo{
    margin-left: 850px;
}

#noticias{
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
}

/* FOOTER */
#footer{
    text-align: center;
    padding: 20px 0px;
    background-color: #333;
    color: white;
}

